body {
    background-color: rgb(35, 31, 32);
    text-align: center;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 63px;
    color: red;
}

p {
    font-family: 'Source Code Pro', monospace;
    font-size: 15px;
}